doctype html
html(lang="en")
    head
        title="Socket Maze"
        script(src="/socket.io/socket.io.js")
        //- script(src="/webrtc.io.js")
        link(rel="stylesheet", href="maze.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700")
    body
        div#modal-screen
            div#enter
                span Enter a Username:
                input#userName(type="text")
                button#enterButton Enter
        div#roomContainer
            div#room Room Loading
        div#chat(style="display:none")
            div#chat-display
                div Chat loading
            div#chat-input
                input(type="text")
                button#send Send
        //- div#map Map loading
        div#menu
            ul
                li
                    a#test(href="#") hi
        script(src="/app.js")
