body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

video {
    backface-visibility:hidden;
}

div#modal-screen{
    position: absolute;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.6);
    width:100%;
    height: 100%;
    z-index: 100;
    color: red;
}
div#enter {
    background-color: rgba(202,0,0,0.5);
    max-width: 300px;
    padding: 10px 10px 18px 10px;
    color: #EEEEEE;
    margin: 10% auto;
    text-align: center;
    text-transform: uppercase;
    span {
        display: block;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 20px;
        letter-spacing: .025em;

    }
    #userName {
        width: 100%;
        max-width: 250px;
        display: block;
        padding: 15px 0;
        margin:0 auto;
    }
    button {
        width: 100%;
        max-width: 250px;
        display: block;
        padding: 10px 0;
        margin: 20px auto 0 auto;
        background-color: #FFF;
        color: #333;
        border: none;
        font-size: 1.25em;
        text-transform: uppercase;
        font-weight: 700;
    }
}

div#room{
    position: absolute;
    top:0%;
    left:0%;
    width:1800px;
    height: 1800px;
    margin: 0 auto;
    transform-style: preserve-3d;
}
div#chat{
    position: absolute;
    top:0%;
    left:80%;
    width:20%;
    height: 80%;
}
div#map{
    position: absolute;
    top:80%;
    left:80%;
    width:20%;
    height: 20%;
}

div#chat-input{
    position: absolute;
    bottom:0.5em;
    right:0.5em;
    width:100%;
    height:1em;
    padding: 0.5em;
}

div#chat-input *{
    position: absolute;
    height:100%;
    top:0;
}

div#chat-input input{
    left:0;
    width:90%;
}
div#chat-input button{
    right: 0.5em;
    width: 6em;
    height: 120%;
}
div#roomContainer {
    perspective:500px;
    perspective-origin: 900px 540px;
    transform: translateZ(-500px) translateY(-500px);
    position:absolute;
}
.wall, .floor, .ceiling {
    position: absolute;
    height:1080px;
    width: 1800px;
    top:0;
    left:0;
    background-color:#dddddd;
    border: 2px solid #000;
}
.floor, .ceiling {
    background-image: url("/img/white_oak_natural.png");
    background-size: 100%;
}
.wall{
    // background: linear-gradient( rgba(211, 211, 236, 0.15), rgba(211, 211, 236, 0.15) ), url("/img/space.jpg") -10px -20px no-repeat;
    background: transparent;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,255,0.1);
        // background-size: cover;
        z-index: 1;

    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("/img/glass06.jpg");
        background-size: cover;
        opacity: 0.1;
        z-index: -2;
    }
    &.west{
        
        &:after{
            background-position: 250% 50%;    
        }
    }
}

.screen {
    width: 800px;
    height: 420px;
    opacity: 0.5;
    position: absolute;
    top: 320px;
    left: 500px;
    background-color: #000;
    z-index: 3;
    backface-visibility: hidden;
    transform:rotateY(-90deg);
    iframe {
        background-color: #000;
        border: 10px solid #000;
        height: 100%;
        width:100%;
    }
}
.screen2{
    transform:rotateY(90deg);
}

.north.wall{
    // background-color:#dd0000;
    transform: translateZ(-900px);
    &:before {
        z-index: -1;
    }
}
.east.wall{
    // background-color:#00dd00;
    transform:rotateY(90deg) translateZ(900px);
}
.west.wall{
    // background-color:#0000dd;
    transform:rotateY(-90deg) translateZ(900px);
}
.south.wall{
    transform:rotateY(180deg) translateZ(-900px);
}
.floor{
    transform:rotateX(-90deg) translateZ(180px);
    background-color: brown;
}
.ceiling{
    transform:rotateX(90deg) translateZ(900px);
    background-color: lightblue;
}

.floor, .ceiling {
    width: 1800px;
    height: 1800px;    
}

.door {
    position:absolute;
    height:569px;
    width: 909px;
    // margin: 0 auto;
    background-image: url("/img/maxresdefault.jpg");
    background-size: cover;
    cursor: pointer;
    z-index: 1000000;
    bottom:0;
    left:446.5px;
}

.chair {
    transform-style: preserve-3d;
    transform: translateY(750px) translateZ(900px) translateX(-370px) rotateY(-90deg);
    cursor: pointer;
    &.chair2{
            transform: translateY(550px) translateZ(-900px) translateX(370px) rotateY(90deg);
    }
}
.chairseat {
    height: 100px;
    width: 100px;
    background: url("/img/chair.png");
    transform-style: preserve-3d;
    // border-radius: 100%;
    transform: rotateX(-90deg);
    &:after {
        content: '';
        transform: rotateY(90deg) translateZ(50px) translateX(-50px);
        background: url("/img/chair.png");
        border: 5px solid #333;
        height: 100px;
        width:100px;
        position: absolute;
        bottom: 0;
    }
    &:before {
        content: '';
        transform: rotateY(-90deg) translateZ(50px) translateX(56px);;
        background: url("/img/chair.png");
        border: 5px solid #333;
        height: 100px;
        width:100px;
        position: absolute;
        bottom: 0;
    }
}


.chairback {

    height: 140px;
    width: 150px;
    background: #000;
    border-radius: 10px;
    background: #000;
    transform: rotate(5deg) translateY(55px) translateX(0px) translateZ(62px);
    position: relative;
    transform-style: preserve-3d;
    &:before {
            content: '';
            transform: rotateY(0deg) translateZ(-2px) translateX(20px) translateY(100px);
            background: url("/img/chair.png");
            border: 5px solid #333;
            height: 100px;
            width:100px;
            position: absolute;
            bottom: 0;
        }
}

.chairscreen {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #333;
    width: 140px;
    height: 130px;
    transform-style: preserve-3d;
    transform: rotateY(180deg);

}

div#error-message{
    height:20%;
    width:20%;
    top:40%;
    left:40%;
    text-align: center;
    background-color: red;
    color:red;
}


#menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,.5);
    display: none;
    ul{
        max-width: 600px;
        list-style-type: none;
    }
}